In [4]:
import pandas as pd                        
from pytrends.request import TrendReq
pytrend = TrendReq(retries=10, backoff_factor=0.5)
import time
startTime = time.time()

In [4]:
##Trending searches per geography
trending_searches_df = pytrend.trending_searches(pn='south_africa')
print(trending_searches_df.head(20))

                                 0
0                         February
1                       Jacob Zuma
2                          Myanmar
3                   Gwede Mantashe
4                             Roma
5                     Harry Styles
6              AstraZeneca vaccine
7                       Ozan Kabak
8                           Mooted
9                     Silver price
10                    Wolfsburg FC
11              Alcohol ban lifted
12           Brighton vs Tottenham
13           West Ham vs Liverpool
14      Barcelona vs Athletic Club
15                        Sundowns
16              Chelsea vs Burnley
17               Royal Rumble 2021
18  Leicester City vs Leeds United
19                             PSG

In [10]:
# Get Google Keyword Suggestions
keywords = pytrend.suggestions(keyword='Paper packaging')
df = pd.DataFrame(keywords)
df.drop(columns= 'mid')   # This column makes no sense

                    title   type
0                   Paper  Topic
1  Packaging and labeling  Topic
2               Paper bag  Topic
3                   Label  Topic
4             Kraft paper  Topic

In [ ]:
#Create list of everything that needs to be screened

screenlist = ["furniture", "newspaper", "playstation", "airfryer"]

In [2]:
#Run search
searcher(keyword):
    pytrend.build_payload(kw_list=['keyword'])
    interest_over_time_df = pytrend.interest_over_time()

SyntaxError: invalid syntax (<ipython-input-2-02a851738a70>, line 2)

In [29]:
# Create payload and capture API tokens. Only needed for interest_over_time(), interest_by_region() &amp; related_queries()
kw_list = ["Toolstation"]
pytrend.build_payload(kw_list, timeframe='2018-01-01 2021-04-08',
     geo='GB-ENG' )

In [30]:
# Interest Over Time
interest_over_time_df = pytrend.interest_over_time()
print(interest_over_time_df.tail(200))

            Toolstation  isPartial
date
2018-01-07           27      False
2018-01-14           26      False
2018-01-21           23      False
2018-01-28           28      False
2018-02-04           30      False
...                 ...        ...
2021-03-07           75      False
2021-03-14           76      False
2021-03-21           85      False
2021-03-28           92      False
2021-04-04           83      False

[170 rows x 2 columns]

In [31]:
interest_over_time_df.to_csv('Toolstation.csv')

In [5]:
# Interest by Region
interest_by_region_df = pytrend.interest_by_region()
print(interest_by_region_df.sort_values(['skateboarding'], ascending=False).head(20))

                      skateboarding
geoName
Australia                       100
New Zealand                      98
United States                    92
Canada                           79
United Kingdom                   70
South Africa                     53
Costa Rica                       53
Finland                          48
Singapore                        45
Philippines                      44
Ireland                          41
Norway                           38
Denmark                          37
Czechia                          37
Sweden                           32
Guatemala                        30
Belgium                          29
Netherlands                      27
Switzerland                      25
United Arab Emirates             25

In [ ]:
# Related Queries, returns a dictionary of dataframes
related_queries_dict = pytrend.related_queries()
print(related_queries_dict['coronavirus']['top'].head(20))
print(related_queries_dict['coronavirus']['rising'].head(20))

In [38]:
#Do the search
colnames = ["keywords"]
df = pd.read_csv("keyword_list.csv", names=colnames, encoding= 'unicode_escape')
df2 = df["keywords"].values.tolist()
df2.remove("keywords")


dataset = []

for x in range(0,len(df2)):
    #try:
     keywords = [df2[x]]
     pytrend.build_payload(
     kw_list=keywords,
     cat=0,
     timeframe='2019-01-01 2021-06-28', #yyyymmdd
     geo='',
     gprop = '')
     data = pytrend.interest_over_time()
     if not data.empty:
          data = data.drop(labels=['isPartial'],axis='columns')
          dataset.append(data)
   # except requests.exceptions.Timeout:

In [39]:
result = pd.concat(dataset, axis=1)
#result.to_csv('search_trends.csv')

#Drop last row of result because it is partial
result.drop(result.tail(1).index,inplace=True) # drop last n rows

result.head()

,Adaltis,furniture,Audi,Armor Minerals,Allana Potash,Potash,AAER,Aastra Technologies,Advantage Lithium,lithium,...,Nautilus,Banting,Air Canada,Westjet,DSTV,Fiber,Purple Bricks,wickes,Travis Perkins,Toolstation
date,,,,,,,,,,,,,,,,,,,,,
2019-01-06,0,67,82,0,0,50,76,0,100,67,...,97,72,68,84,45,58,58,28,38,31
2019-01-13,0,67,85,0,0,38,75,99,66,64,...,100,76,61,75,42,58,73,30,40,34
2019-01-20,0,67,85,0,0,58,37,0,8,66,...,90,75,63,74,42,54,67,29,38,33
2019-01-27,41,66,83,0,0,67,55,0,41,63,...,83,65,64,77,45,55,73,28,39,33
2019-02-03,40,68,84,0,0,78,73,0,16,65,...,78,76,63,74,49,55,84,33,37,34

In [40]:
#remove results where the index is equal to zero to remove flash in the pan results.

for column in result:
    if (result[column] ==0).any():
        result.pop(column)
print('done')

done

In [41]:
#identify rising trends
upflagged = []
for column in result:
    if result[column].iloc[-1] - result[column].iloc[-8] >10 and result[column].iloc[-1] - result[column].iloc[-52] >20:
        upflagged.append(column)
    
print(upflagged)

['Adya']

In [42]:
#identify declining trends
downflagged = []
for column in result:
    if result[column].iloc[-1] - result[column].iloc[-8] <-10 and result[column].iloc[-1] - result[column].iloc[-52] <-20:
        downflagged.append(column)
    
print(downflagged)

['Online advertising', 'Purple Bricks', 'wickes', 'Toolstation']

In [100]:
result.to_csv('gt2.csv')